body {
    background-color: black;
}

#div-principal {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

#divisao1 {
    width: 50%;
    height: 50%;
    background-color: red;
}

#divisao2 {
    width: 50%;
    height: 50%;
    background-color: blue;
}

#divisao3 {
    width: 50%;
    height: 50%;
    background-color: cadetblue;
}

#divisao4 {
    width: 50%;
    height: 50%;
    background-color: green;
}